# Node modules
node_modules/

# CDK build files
*.d.ts
.cdk.staging/
cdk.out/

# Infrastructure JS files (CDK compiled output only)
infrastructure/*.js
infrastructure/lib/*.js
infrastructure/bin/*.js

# Old files
.old/
